.svn
.svn/
/bin*/
/build*/
/data/_shared
/doc/_shared
/pack*/
/test*/
*.pdb
#*.exe
#*.lib
#*.dll
#*.exp
*.ilk
*.idb
*.ib_pdb_index
*.obj
#*.a
#*.so
*.o
*.svg
*.aps
.vscode/*
/.vs
.vs/
*.tags
/golaemDevkit/
